.profile-layout {
  padding-top: var(--space-lg);
}

.profile-layout-aside {
  background: var(--bs-white);
  box-shadow: var(--shadow-el);
  padding: var(--space-md);
  width: var(--sidebar-width);
  position: fixed;
  border-radius: var(--border-radius-sm);
  height: calc(
    100vh - (var(--header-height) + var(--space-lg) + var(--space-lg))
  );
  overflow-y: auto;
  transition: 0.3s;
}

@media (max-width: 991px) {
  .profile-layout-aside {
    right: -100%;
    margin-top: 50px;
    width: var(--sidebar-width-sm) !important;
  }
}

.profile-layout-aside-name + span {
  color: var(--gray);
}

.profile-layout-edit-avatar {
  font-size: 22px;
  color: var(--gray);
}

.profile-layout-header {
  padding-bottom: var(--space-md);
  padding-top: var(--space-sm);
}

.profile-layout-navbar-item {
  transition: 0.3s;
  background: transparent;
  border-radius: var(--border-radius-sm);
  margin-bottom: var(--space-md);
  color: var(--gray);
}

.profile-layout-navbar-item:is(.active, :hover) {
  padding: var(--space-sm) var(--space-md);
  background-color: rgba(var(--primary-rgb) / 0.1);
  color: var(--primary);
}

.profile-layout-content {
  margin-inline-start: calc(var(--sidebar-width) + var(--space-lg));
  min-height: calc(
    100vh - (var(--header-height) + var(--space-lg) + var(--space-lg))
  );
  transition: 0.3s;
}

@media (max-width: 991px) {
  .profile-layout-content {
    margin-inline-start: 0 !important;
  }
}

.toggle-aside {
  margin-bottom: 20px;
  font-size: 18px;
}
