:root {
  --primary: #0077fc;
  --primary-rgb: 0 119 252;
  --secondary: #00ee4a;
  --other: #ff9300;
  --other-rgb: 255 147 0;
  --dark: #000028;
  --gray: #6b6a72;
  --light-bg: #f8f8f8;
  --shadow-el: 0 0 15px 0 rgb(34 41 47 / 5%);
  --border: rgba(0 0 0 / 0.1);
  --danger: #ff725e;
  --danger-rgb: 255 114 94;
  --danger-secondary: #e05c4a;
  --natu: #fafafa;

  --primary-en: "Lato", sans-serif;
  --primary-ar: "Cairo", sans-serif;

  --logo-font: "Rubik Marker Hatch", cursive;

  --font-size-sm: 0.9rem;
  --font-size-md: 1.1rem;

  --space-sm: 10px;
  --space-md: 20px;
  --space-lg: 40px;
  --border-radius-sm: 10px;
  --border-radius-lg: 20px;

  --sidebar-width: 300px;
  --sidebar-width-sm: 250px;
  --header-height: 80px;

  font-size: 16px;
}
